<div class="mainContainer">
    <h2 style="text-align: center; margin: 2rem;">Add Employee Form</h2>

    <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
            <mat-label>Input first name</mat-label>
            <input matInput formControlName="firstName" type="text" placeholder="First Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Input last name</mat-label>
            <input matInput formControlName="lastName" type="text" placeholder="Last Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput formControlName="birthDate" [matDatepicker]="birthDateEmployee"
                placeholder="Input birth date" [matDatepickerFilter]="myFilter">
            <mat-datepicker-toggle matSuffix [for]="birthDateEmployee"></mat-datepicker-toggle>
            <mat-datepicker #birthDateEmployee></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Input email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Cth. dzaki@gmail.com">
            <mat-error *ngIf="isEmail == false">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Input basic salary</mat-label>
            <input matInput formControlName="basicSalary" type="number" placeholder="Basic Salary">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Input group</mat-label>
            <mat-select placeholder="group" formControlName="group">
                <mat-option value="Backend Developer">Backend Developer</mat-option>
                <mat-option value="Business Analyst">Business Analyst</mat-option>
                <mat-option value="Director">Director</mat-option>
                <mat-option value="Frontend Developer">Frontend Developer</mat-option>
                <mat-option value="Human Resource">Human Resource</mat-option>
                <mat-option value="Manager">Manager</mat-option>
                <mat-option value="Office Boy">Office Boy</mat-option>
                <mat-option value="Project Manager">Project Manager</mat-option>
                <mat-option value="Quality Assurance">Quality Assurance</mat-option>
                <mat-option value="Sales">Sales</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" type="submit">Submit</button>
            <button mat-flat-button color="warn" (click)="onCancel()" style="margin-left: 1rem;">Cancel</button>
        </div>
    </form>
</div>