.container {
    background-color: #961917;
    width: 100vh;
}

.container form {
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.container h1 {
    margin-top: 20px;
    color: black;
}

.container button {
    margin-bottom: 20px;
}