<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Employee Management</h1>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text"
                matInput
                formControlName="username"
            >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password"
                matInput
                formControlName="password"
            >
        </mat-form-field>
        <div>
            <button mat-flat-button color="warn" type="submit">Submit</button>
        </div>
    </form>
</div>