<div class="mainContainer" style="margin: 2rem; text-align: center;">
    <div>
        <p>Fullname</p> 
        <div style="margin-top: -1rem; margin-bottom: 1rem;">   
            <b>{{ data.data.row['firstName'] }} {{data.data.row["lastName"]}}</b>
        </div>
    </div>
    <div>
        <p>Email</p> 
        <div style="margin-top: -1rem; margin-bottom: 1rem;">   
            <b>{{ data.data.row["email"] }}</b>
        </div>
    </div>
    <div>
        <p>Birth Date</p> 
        <div style="margin-top: -1rem; margin-bottom: 1rem;">   
            <b>{{ data.data.row["birthDate"] }}</b>
        </div>
    </div>
    <div>
        <p>Basic Salary</p> 
        <div style="margin-top: -1rem; margin-bottom: 1rem;">   
            <b>{{ data.data.row["basicSalary"] | currency: "Rp " }}</b>
            <!-- <b>{{ data.data.row["basicSalary"] }}</b> -->
        </div>
    </div>
    <div>
        <p>Status</p> 
        <div style="margin-top: -1rem; margin-bottom: 1rem;">   
            <b>{{ data.data.row["status"] }}</b>
        </div>
    </div>
    <div>
        <p>Group</p> 
        <div style="margin-top: -1rem; margin-bottom: 1rem;">   
            <b>{{ data.data.row["group"] }}</b>
        </div>
    </div>
    <div>
        <p>Description</p> 
        <div style="margin-top: -1rem; margin-bottom: 1rem;">   
            <b>{{ data.data.row["description"] }}</b>
        </div>
    </div>
    <button mat-flat-button color="primary" (click)="onOk()">Ok</button>
</div>


