<div style="background-color: white;">
    <h1 style="text-align: center; padding-top: 10px;">Employee List</h1>

    <div style="margin-bottom: 10px; margin-left: 10px; margin-top: -10px;">
        <mat-form-field style="width: 120px; margin-left: 10px; margin-top: 20px;" appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Cth. Dzaki" #input>
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="addEmployee()" style="margin-left: 10px;">
            Add Employee
        </button>
    </div>


    <div class="mat-elevation-z8" style="margin: 0 10px;">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} 
                    <span (click)="onView({ row: row })" style="font-size:xx-small;">detail</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.username}} </td>
            </ng-container>

            <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
                <td mat-cell *matCellDef="let row"> {{row.group}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                    <button
                        style="background-color: #F4A62A; color: white; border: none; border-radius: 3px;">Edit</button>
                    <button
                        style="background-color: #FA3F19; color: white; border: none; border-radius: 3px;">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[7, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

        <div style="padding-bottom: 10px; background-color: white; margin-left: 10px;">
            <button mat-flat-button color="warn" (click)="onBack()">Back</button>
        </div>
    </div>
</div>